<ion-header>
  <ion-toolbar>
    <ion-title>Mis Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="contacts.length > 0">
    <ion-item *ngFor="let contact of contacts">
      <ion-label>
        <h2>{{ contact.name }} {{ contact.lastname }}</h2>
        <p>{{ contact.phone }}</p>



      </ion-label>
      
      <ion-button fill="outline" slot="end" color="primary" (click)="startVideoCall(contact)">
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
      
    </ion-item>
  </ion-list>

  <div *ngIf="contacts.length === 0" class="ion-text-center ion-padding">
    <p>No tienes contactos aún</p>
  </div>

  <ion-button expand="block" [routerLink]="['/contacts/add']">
    Agregar Contacto
  </ion-button>

  <ion-button expand="block" color="medium" (click)="logout()">
    Cerrar sesión
  </ion-button>
</ion-content>
